/* ############## Basislayout ############### */

#topnavi {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 66;
	margin-left:auto;
	margin-right: auto;
/* arka planin yüksekligi */
	height: 33px;
	_height: 33px;
	background: #b8d3e7;
	position: relative;
	width: 770px;
	text-align: left;
	border-bottom: 3px solid #b8d3e7;
}
html>body  #topnavi  { box-sizing: content-box; }

/*
     FILE ARCHIVED ON 19:27:54 Dec 22, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:24:34 Mar 31, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 1078.512 (3)
  esindex: 0.005
  captures_list: 1096.415
  CDXLines.iter: 13.359 (3)
  PetaboxLoader3.datanode: 1079.55 (4)
  exclusion.robots: 0.128
  exclusion.robots.policy: 0.119
  RedisCDXSource: 2.186
  PetaboxLoader3.resolve: 96.761
  load_resource: 148.946
*/